@font-face {
    font-family: "Roboto-Regular";
    src: url("../lib/google-fonts/Roboto-Regular.ttf") format("truetype");
}

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    padding: 0;
}

td {
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* page --------------------------------------------------------------------- */

.page {
    user-select: none;
    -webkit-user-select: none;
}

.page-content {
    padding: 16px;
    user-select: none;
    -webkit-user-select: none;
}


/* navbar --------------------------------------------------------------------- */

.navbar {
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
}

.navbar table {
    width: 100%;
    height: 56px;
}

.navbar .button {
    color: #fff;
    display: inline-block;
    text-align: center;
    width: 56px;
    height: 56px;
}

.navbar .button .material-icons {
    line-height: 56px;
}

.navbar .button:active {
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar .left {
    text-align: left;
    white-space: nowrap;
    width: 56px;
}

.navbar .center .text {
    font-size: 20px;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.navbar .right {
    text-align: right;
    white-space: nowrap;
}


/* tabbar --------------------------------------------------------------------- */

.tabbar {
    position: fixed;
    width: 100%;
    top: 56px;
    height: 56px;
    white-space: nowrap;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
}

.tabbar .fill {
    /* se ajusta a largura do pai */
    width: 100%;
}

.tabbar .tab {
    color: rgba(255, 255, 255, 0.7);
    display: inline-block;
    height: 56px;
    min-width: 100px;
    line-height: 56px;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
}

.tabbar .tab:active {
    background-color: rgba(255, 255, 255, 0.1);
}

.tabbar .tab.active {
    color: #fff;
}

.tabbar .scroller {
    width: 100%;
    display: flex;
    overflow-x: auto;
}

.tabbar .scroller .highlight {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    background: rgba(255, 255, 255, .5);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}


/* popover --------------------------------------------------------------------- */

.popover {
    position: absolute;
    z-index: 1001;
    min-width: 220px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 3px 16px rgba(0, 0, 0, .35);
    user-select: none;
    -webkit-user-select: none;
}

.popover .list .item {
    color: #000;
    display: block;
    line-height: 50px;
    padding-left: 16px;
    padding-right: 16px;
    white-space: nowrap;
}

.popover .list .item:active {
    background-color: #eee;
}

.popover .list .item .material-icons {
    color: #666;
    position: relative;
    top: 7px;
    margin-right: 16px;
}


/* panel --------------------------------------------------------------------- */

.panel {
    display: block;
    position: fixed;
    background-color: #fff;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, .35);
    width: 300px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1001;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-touch-callout: none;
    transition: transform 300ms;
    -webkit-transition: -webkit-transform 300ms;
    user-select: none;
    -webkit-user-select: none;
}

.panel.closed {
    transform: translate(-450px);
    -webkit-transform: translate(-450px);
}

.panel.opened {
    transform: translate(0);
    -webkit-transform: translate(0);
}

.panel .header {
    color: #fff;
    padding: 18px;
    padding-top: 32px;
    padding-bottom: 14px;
    line-height: 20px;
}

.panel .header:active {
    opacity: 0.9;
}

.panel .header .material-icons {
    font-size: 56px;
    position: relative;
    left: -8px;
}

.panel .panel-content table {
    width: 100%;
}

.panel .panel-content .item:active {
    background-color: #eee;
}

.panel .panel-content .item td {
    vertical-align: middle;
    line-height: 19px;
}

.panel .panel-content .item .icon {
    color: #666;
    width: 64px;
    text-align: center;
}

.panel .panel-content .item .content {
    padding: 16px;
    padding-left: 0;
}


/* fontes --------------------------------------------------------------------- */

.font-14 {
    font-size: 14px;
}


/* cores --------------------------------------------------------------------- */

.bg-bluegray {
    background-color: #607d8b;
}

.bg-salmon {
    background-color: #e57373;
}

.gray {
    color: #666;
}

.white-a-7 {
    color: rgba(255, 255, 255, .7);
}
